{% extends "templates/web.html" %}
{%- from "templates/includes/navbar/navbar_items.html" import render_item -%}

{%- block head %}
<link rel="stylesheet" href="/assets/frappe/css/hljs.css">
<link rel="stylesheet" href="/assets/bloomstack_website/css/webpages.css">
<link rel="stylesheet" href="/assets/bloomstack_website/css/webform.css">
{% endblock -%}

{% block content %}

{% macro container_attributes() -%}
id="page-{{ name or route | e }}" data-path="{{ pathname | e }}"
{%- if page_or_generator=="Generator" %}source-type="Generator" data-doctype="{{ doctype }}"{%- endif %}
{%- if source_content_type %}source-content-type="{{ source_content_type }}"{%- endif %}
{%- endmacro %}

<div class="container-fluid doc-layout doc-container">
	<div class="row no-gutters wiki-flex" {{ container_attributes() }}>
		{%- if not no_sidebar -%}

		<div class="sidebar-column">
			<aside class="doc-sidebar">
				{% block page_sidebar %}
				{% include "templates/includes/web_sidebar.html" %}
				{% endblock %}
			</aside>
		</div>
		{%- endif -%}

		<div class="main-column doc-main">
			<div class="page-content-wrapper">
				{% block page_container %}
				<main>
					<div class="page_content page-content doc-content">
						{%- if add_breadcrumbs -%}
						{% include "wiki/doctype/wiki_page/templates/breadcrumbs.html" %}
						{%- endif -%}
						{%- block page_content -%}{%- endblock -%}
					</div>
				</main>
				{% endblock %}
			</div>
		</div>
		{%- if page_toc_html -%}
		<div class="page-toc d-none d-xl-block">
			{% block page_toc %}
			{% if page_toc_html %}
			<div class='list-unstyled'>
				<h5>On this page</h5>
				{{ page_toc_html }}
			</div>
			{% endif %}
			{% endblock %}
		</div>
		{%- endif -%}
	</div>
</div>

{% endblock %}

{%- block script -%}
<script>
	frappe.ready(() => {
		frappe.utils.setup_search('#search-container', 'wiki');

		$('.web-footer .container')
			.removeClass('container')
			.addClass('container-fluid doc-container');
	});
</script>
{%- endblock -%}